.credentials {
    text-align: center;
}
.credentials h3, h5 {
    font-family: 'Roboto Mono', monospace;
}
.cred-text {
    margin-top: 125px;
}
.linked {
    font-size: 28px;
    color: #737373;
    transition: all .2s ease-in-out;
}
.linked:hover {
    color: black;
    transform: scale(1.1);
}