.contact {
    margin: 50px 5% 50px 5%;
}
.contact-blurb {
    margin-bottom: 50px;
    text-align: center;
}
.contact-title {
    text-align: center;
}
.email {
    margin-top: 75px;
    text-align: center;
}