.contact {
    padding: 50px 5% 50px 5%;
}
.contact-blurb {
    padding-top: 35px;
    padding-bottom: 35px;
    text-align: center;
    background: #dffc03;
}
.contact-form {
    background: white;
    padding-top: 15px;
    padding-bottom: 15px;
}
.contact-title {
    text-align: center;
}
.email {
    margin-top: 75px;
    text-align: center;
}
.send-btn {
    background-color: lightgray !important;
}