#about {
    margin: 50px 150px 50px 150px;
    text-align: center;
}
.about h3 {
    font-family: 'Roboto Mono', monospace;
}
.mission {
    margin-bottom: 40px;
}
.headshot {
    padding-left: 15px;
    padding-right: 15px;
    height: 125px;
}
.headshot:hover {
    -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}