.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white !important;
}
.navbar li {
    padding: 10px;
    float: left;
    list-style-type: none;
}
.navbar a {
    color: black !important;
}
.navbar a:hover {
    text-decoration: none;
    color: black;
    font-style: italic;
}
