.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white !important;
}
.navbar li {
    padding-right: 20px;
    float: left;
    list-style-type: none;
}
.navbar a {
    color: black !important;
}
.navbar a:hover {
    text-decoration: none;
    color: #dffc03 !important;
    font-style: italic;
}
